@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
:root{
    --primary-color: green;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
    font-family:"Poppins";
}
.card{
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    border-radius: 15px;
    padding:40px 20px;
    color: #fff;
    position: relative;
}
.card__heart, .card__cart{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 2;

}


.card__cart{
    left:unset;
    right: 20px;
}
.card__image{
        width: 90%;
    transition: 0.5s;

}
.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__title, .card__price{
    font-style: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
}
.card__title{
    color:var(--primary-color);
}
.card__size h3{
    font-weight: unset;
}
.card__color h3{
    font-weight: unset;
}

.card__size, .card__color{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.card__size span{
    padding: 2px 10px;
    background-color: #dadada;
    color: #272d40;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.card__color span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.card__color--green{
    background: green;
}
.card__color--red{
    background: red;

}
.card__color--black{
    background: black;

}
.card__action button{
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-right: 7px;
    font-weight: 600;
    transition: 0.5s;
}
.card:hover .card__image{
    transform: translateY(-90px) rotate(-20deg);

}
.card:hover .card__title{
    transform: translate(-75px, -70px)
} 

.card:hover .card__price{
    transform: translate(-125px, -70px)
} 
.card__size{
    margin-top: 150px;
}
.card__size, .card__color, .card__action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action{
    visibility: visible;
    opacity: 100;

}
.card:hover .card__size{
    margin-top: -30px;
}
.card__action button:hover{
    transform: scale(0.9);
    margin-right: 10px;
    transition: 0.25;
    cursor: pointer;

}


