*{  
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;

}

body{
    height: 100vh;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}
.wrapper {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
    transition: 0.9s;

}
.images{
    width:22%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    margin:20px 0;
}
.images:hover img{
    transform: scale(1.2);
}
.gallery{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(0,0,0,0.6);
    display: flex;
    align-items: center;
    color:white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition:0.5s;
}
.gallery__inner{
    width: 100%;
    display:flex;
    justify-content: center;
}
.gallery__inner img{
    width: 50%;
}
.close{
    position: fixed;
    top: 15px;
    right: 25px;
    font-size:35px;
}
.control{
    font-size: 35px;
    color: rgba(255,255,255,0.8);
    position:absolute;

}
 .prev{
    left:15px;
}
 .next{
    right:15px;
}
.gallery__inner{
    width: 100%;
    height: 80%;
    margin: 0 auto;
}
.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.hide{
    display: none;
}